# 2023-03-13, from

# This workflow runs static analysis checks on pull requests.
name: ci-static-analysis-py-alg-02

on:
  # pull_request:
  push:
    branches:
      # - main
      - nonexistent  # avoid triggering on main
  # Run once a day
  # schedule:
  #   - cron: '0 0 * * *'

jobs:
  analysis:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        category:
# Disabled pending completion of integration
# https://github.com/aws/aws-dynamodb-encryption-python/issues/66
#          - mypy-py2
#          - mypy-py3
          - bandit
          - doc8
          - readme
          - docs
          - flake8
          - pylint
          - flake8-tests
          - flake8-examples
          - pylint-tests
          - pylint-examples
          - black-check
    steps:
      - uses: actions/checkout@v3  # TODO: checkout from ANOTHER repository!
        with:
          repository: 'solita/sv-security-scans-05'
          ref: 'main'
          path: ${{ env.SCANNED_REPO }}  # Relative path under $GITHUB_WORKSPACE to place the repository
      - name: Explore 1
        run: |
          set -ux
          pwd
          ls -al
          ls -al ${{ env.SCANNED_REPO }}
      - name: Explore 2
        working-directory: ${{ env.SCANNED_REPO }}
        run: |
          set -ux
          pwd
          ls -al
      - name: Python setup
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'  # fails with '3.11'
      - name: Install requirements
        working-directory: ${{ env.SCANNED_REPO }}
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade -r python-algorithms/requirements-tox.txt
      - name: Tox check
        working-directory: ${{ env.SCANNED_REPO }}
        env:
          TOXENV: ${{ matrix.category }}
        run: |
          cd python-algorithms
          tox -- -vv
